.bg-pokemons{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-white{
    border-radius: 10px;
}

.bg-pink{
    background-color: crimson;
}

.text-pink{
    color: crimson;
}

.form-login{
    margin: 20px;
}

.btn-pink{
    background-color: crimson;
    color: white;
}

.btn-pink:hover {
    background-color: crimson;
    color: white;
}

.btn-pink:focus{
    background-color: crimson;
    color: white;
}

.bg-profile {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.profile {
    position: relative;
    margin-top: -90px;
    width: 167.5px;
    border-radius: 50%;
}